div#coverBody,
div#inquiryBody {
    margin-top: 60px;
    min-height: 75vh;
}


nav {
    background-image: url(/static/image/construction-nav-bg.svg);
    background-color: rgba($color: #281843, $alpha: 1.0) ;
    background-blend-mode: overlay;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 10px !important;
    border: none;
    a#brand {
        color: #08bf87;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 35px !important;
        text-shadow: 2px 2px #6ed2b4;
    }
    li a {
        padding-top: 20px !important;
        color: #fe7300;
        font-size: 20px !important;
        font-weight: bold;

    }

    li a:hover {
        color: #fea75f;
        padding-top: 18px !important;
        font-size: 22px !important;
        font-weight: bolder;
    }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba($color: #281843, $alpha: 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

// Inquiry From

div#inquiryBody {
  background-color: rgba(231, 226, 226, 0.70) ;
  padding-bottom: 20px;
  padding-top: 10px;
}
.margin-padding-0 {
  margin: 0;
  padding: 0;
}

.bs-bb {
  box-sizing: border-box;
}

.header h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.myContainer {
  min-width: 75%;
  min-height: min-content;
  border: 1.5px solid rgba(231, 225, 225, 0.5);
  margin-top: 5px;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
  background-color: #fff;
  border-radius: 10px;
}

.lh-condensed { line-height: 1.25; }
// #row {
//   display: inline;
// }

// #column {
//   margin-left: 15px !important;
//   margin-right: 15px !important;
// }

// .form-inquiry {
//   width: 100%;
//   max-width: 420px;
//   padding: 15px;
// }

// .form-label-group {
//   position: relative;
//   margin-bottom: 1rem;
// }

// .form-label-group input,
// .form-label-group label {
//   height: 3.125rem;
//   padding: .75rem;
// }

// .form-label-group label {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: block;
//   width: 100%;
//   margin-bottom: 0; /* Override default `<label>` margin */
//   line-height: 1.5;
//   color: #495057;
//   pointer-events: none;
//   cursor: text; /* Match the input under the label */
//   border: 1px solid transparent;
//   border-radius: .25rem;
//   transition: all .1s ease-in-out;
// }

// .form-label-group input::-webkit-input-placeholder {
//   color: transparent;
// }

// .form-label-group input::-moz-placeholder {
//   color: transparent;
// }

// .form-label-group input:-ms-input-placeholder {
//   color: transparent;
// }

// .form-label-group input::-ms-input-placeholder {
//   color: transparent;
// }

// .form-label-group input::placeholder {
//   color: transparent;
// }

// .form-label-group input:not(:-moz-placeholder-shown) {
//   padding-top: 1.25rem;
//   padding-bottom: .25rem;
// }

// .form-label-group input:not(:-ms-input-placeholder) {
//   padding-top: 1.25rem;
//   padding-bottom: .25rem;
// }

// .form-label-group input:not(:placeholder-shown) {
//   padding-top: 1.25rem;
//   padding-bottom: .25rem;
// }

// .form-label-group input:not(:-moz-placeholder-shown) ~ label {
//   padding-top: .25rem;
//   padding-bottom: .25rem;
//   font-size: 12px;
//   color: #777;
// }

// .form-label-group input:not(:-ms-input-placeholder) ~ label {
//   padding-top: .25rem;
//   padding-bottom: .25rem;
//   font-size: 12px;
//   color: #777;
// }

// .form-label-group input:not(:placeholder-shown) ~ label {
//   padding-top: .25rem;
//   padding-bottom: .25rem;
//   font-size: 12px;
//   color: #777;
// }

// .form-label-group input:-webkit-autofill ~ label {
//   padding-top: .25rem;
//   padding-bottom: .25rem;
//   font-size: 12px;
//   color: #777;
// }

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}


// Media Query

@media (max-width: 560px) {
  nav {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url(/static/image/construction-nav-bg.svg);
  }

  div#coverBody,
  div#inquiryBody {
      margin-top: 120px;
      min-height: 80vh;
  }

  #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 50%; 
  min-height: 50%;
}
}
