<div class="container-fluid">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div>
            <a href="/" class="navbar-brand" id="brand">HOPESTONE CONSTRUCTION</a>
        </div>
        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/Inquire" class="nav-link">Inquire</a>
                </li>

            </ul>
        </div>
    </nav>
</div>